type: "MARKDOWN_NOTE"
folder: "275a48f31d42892e18a4"
title: "Paginas de soporte"
content: '''
  # Paginas de soporte
  
  http://www.novalinkpix.com/NovalinkPix2/pix_Login/
  http://www.novalinkpix.com/NovalinkPix3/pix_Login/
  
  [1. WH Entry](https://www.parasql.com/run?appId=880540d6-b41f-4288-906d-5f58675239b1&name=rdiaz)
  [2. HW Receiving](https://www.parasql.com/run?appId=16cdf747-4b46-4250-9ac1-365ba275e9a0&name=rdiaz)
  [3. HW stock](https://www.parasql.com/run?appId=8f1fca73-ed5e-49b2-99b9-686c309f911a&name=rdiaz)
  [4. WH Transfer](https://www.parasql.com/run?appId=52cf76c4-a9f6-4dc0-9ccf-94da5a3878ef&name=rdiaz)
  [4. WH Transfer Old](https://www.parasql.com/run?appId=2388b23d-58ed-48d2-b9fc-b6826771b768&name=rdiaz)
  [5. WH Import/Export](https://www.parasql.com/run?appId=b3b966ff-fb0d-4bcf-b789-cd6e671abeba&name=rdiaz#nav9)
  
  
  rdiaz
  rdiaz123
  
  Usuario de google
  pix_system@novalinkmx.com
  Pix@2016
'''
tags: []
isStarred: false
createdAt: "2017-05-23T15:48:36.194Z"
updatedAt: "2017-05-26T19:01:54.152Z"
