type: "MARKDOWN_NOTE"
folder: "a5ce985f5c1ddaf6bdf5"
title: "Plex docker"
content: '''
  Plex docker
  
  https://hub.docker.com/r/jrarseneau/plexmediaserver/
  
  Running the image
  
  latest tag:
  
  sudo docker run --restart always -d --name="plexmediaserver" -h plexmediaserver -v /etc/localtime:/etc/localtime:ro -v <plex_library_folder_on_host>:/volumes/config -v <temp_folder_on_host>:/volumes/tmp -v <media_folder_on_host>:/volumes/media -p 32400:32400 jrarseneau/plexmediaserver
  
  plexpass tag:
  
  sudo docker run --restart always -d --name="plexmediaserver" -h plexmediaserver -v /etc/localtime:/etc/localtime:ro -v <plex_library_folder_on_host>:/volumes/plex -v <temp_folder_on_host>:/volumes/tmp -v <media_folder_on_host>:/volumes/media -p 32400:32400 jrarseneau/plexmediaserver:plexpass
'''
tags: []
isStarred: false
createdAt: "2017-05-12T22:16:23.762Z"
updatedAt: "2017-05-12T22:16:41.635Z"
