type: "MARKDOWN_NOTE"
folder: "144e797422e10f7400c6"
title: "Welcome to Boostnote :)"
content: '''
  # Welcome to Boostnote :)
  This is a markdown note.
  
  Click to edit this note.
'''
tags: []
isStarred: false
createdAt: "2017-05-22T17:30:16.772Z"
updatedAt: "2017-05-22T17:30:16.772Z"
