type: "MARKDOWN_NOTE"
folder: "c464453ed9e010b85819"
title: "Welcome to Boostnote :)"
content: '''
  # Welcome to Boostnote :)
  This is a markdown note.
  
  Click to edit this note.
'''
tags: []
isStarred: false
createdAt: "2017-04-04T23:14:04.192Z"
updatedAt: "2017-04-04T23:14:04.192Z"
