type: "MARKDOWN_NOTE"
folder: "d4e9110bb3333776e8c9"
title: "Creacion de Respaldo de equipos"
content: "# Creacion de Respaldo de equipos"
tags: []
isStarred: false
createdAt: "2017-05-09T19:08:10.949Z"
updatedAt: "2017-05-09T19:11:01.847Z"
