type: "MARKDOWN_NOTE"
folder: "d4e9110bb3333776e8c9"
title: "Equipos y accesos"
content: '''
  #Equipos y accesos
  
  ## Equipos
  
  * Solamente uso la laptop desde hace tiempo y he migrado la informacion a aqui y de aqui a los repositorios
  * El servidor de OEE `\\\\wmatvmoee01`
'''
tags: []
isStarred: false
createdAt: "2017-05-09T19:59:03.613Z"
updatedAt: "2017-05-09T20:01:00.329Z"
