type: "MARKDOWN_NOTE"
folder: "d4e9110bb3333776e8c9"
title: "Descripcion de los repositorios"
content: '''
  # Descripcion de los repositorios
  
  Descripcion de contenidos de los repos en:`\\\\wmatvmoee01\\git`
  
  * 
'''
tags: []
isStarred: false
createdAt: "2017-05-09T20:02:30.405Z"
updatedAt: "2017-05-09T20:03:24.951Z"
